@charset "utf-8";

article.center-article{
    width: 60%;
    float: left;
    display: block;
}
article.center-article img{
    width: 200px;
    height: 200px;
}
aside.left-side-article{
    width: 20%;
    float: left;
    display: block;
}
a img.logo-img{
    width: 20%;
    float: left;
    display: block;
}
div.dropdown{
    width: 20%;
    float: right;
    display: block;
    clear: both;
}
aside.right-side-article{
    width: 20%;
    float: right;
    display: block;
}
html{
    background: grey
}
/* Style The Dropdown Button */
.dropbtn {
    background-color: red;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
  }
   /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
   /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
   /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
   /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: white;}
   /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
   /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: red;
 }
 