@charset "utf-8";

div.row{
    float: center;
}


html{
   background-color: 
}

ul{
   list-style-type: none;
}

div.row{
    clear:both;
 }
 div.row::after{
    clear:both;
    content:"";
    display:table;
 }

 div[class^="col-"]{
    float:left;
 }
 
 div.col-1-1{width:100%}
 div.col-1-2{width:50%}
 div.col-1-3{width:33%}
 div.col-1-4{width:25%}
 div.col-2-3{width:67%}
 div.col-3-4{width:75%}
 
 
 div{
    outline-width: 1px;
    outline-style: solid;
    outline-color: red;
    outline: 1px solid red;
 }
 